<!-- src/components/AddNote.vue -->
<script setup lang="ts">
import { ref } from "vue";
import { useNoteStore } from "../stores/note";
const noteStore = useNoteStore();
const showModal = ref(false);
const title = ref("");
const body = ref("");
const error = ref("");
const addNote = (titleVal: string, bodyVal: string) => {
  if (!titleVal) {
    error.value = "Title is required.";
    return;
  }
  if (!bodyVal) {
    error.value = "Note body is required.";
    return;
  }
  noteStore.addNote(titleVal, bodyVal);
  title.value = "";
  body.value = "";
  showModal.value = false;
};
</script>
<template>
  <div>
    <vue-final-modal
      v-model="showModal"
      classes="modal-container"
      content-class="modal-content"
    >
      <button class="modal__close" @click="showModal = false">&times;</button>
      <span class="modal__title block text-gray-400 text-3xl font-bold mb-2"
        >Create a note</span
      >
      <div class="modal__content">
        <form>
          <div class="mb-4">
            <label
              class="block text-gray-400 text-sm font-bold mb-2"
              for="title"
            >
              Title
            </label>
            <input
              id="title"
              v-model="title"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
            />
          </div>
          <div class="mb-6">
            <label
              class="block text-gray-400 text-sm font-bold mb-2"
              for="body"
            >
              Note Body
            </label>
            <textarea
              id="body"
              v-model="body"
              rows="4"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            ></textarea>
          </div>
          <p v-if="error" class="text-red-500 text-xs italic">{{ error }}</p>
        </form>
      </div>
      <div class="modal__action">
        <button
          type="button"
          class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          @click="addNote(title, body)"
        >
          add
        </button>
        <button
          type="button"
          class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          @click="showModal = false"
        >
          cancel
        </button>
      </div>
    </vue-final-modal>
    <button
      class="text-fuchsia-300 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      @click="showModal = true"
    >
      add note &rarr;
    </button>
  </div>
</template>
<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
}
::v-deep .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #000;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
  width: 50vw;
  min-width: 400px;
}
.modal__action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 1rem 0 0;
}
.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
</style>
