<template>
  <div class="header">
    <h3 class="absolute top-9 left-10 text-red-400 font-bold">
      this is a custom layout
    </h3>
    <MenuNav />
  </div>
  <div class="max-w-3xl m-auto">
    <slot />
  </div>
</template>

<script setup lang="ts">
import MenuNav from "../components/menuNav.vue";
</script>
