<template>
  <div class="header">
    <MenuNav />
  </div>
  <div class="max-w-3xl m-auto">
    <slot />
  </div>
</template>

<script setup lang="ts">
import MenuNav from "../components/menuNav.vue";
</script>
