<template>
  <NuxtLayout name="custom">
    <h1 class="text-5xl text-center pt-20 pb-10">Custom Layout Page</h1>
    <p class="text-center">This page uses a custom layout.</p>
  </NuxtLayout>
</template>

<script setup lang="ts">
definePageMeta({
  layout: false,
});
</script>

<style scoped>
.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>
