<!-- eslint-disable vue/no-multiple-template-root -->
<template>
  <h1 class="text-5xl text-center pb-10">Home</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque architecto
    consectetur dolorum numquam ullam ratione blanditiis excepturi amet
    voluptatibus corrupti deserunt, praesentium voluptas, vero, mollitia
    repudiandae explicabo asperiores recusandae ea reiciendis deleniti accusamus
    quaerat dicta. Impedit quos natus ducimus, cumque distinctio animi pariatur
    exercitationem aliquam deserunt asperiores provident quod commodi
    repellendus, accusamus rem nostrum architecto doloremque! Temporibus
    suscipit fugiat voluptatem incidunt vero sequi, doloribus eveniet, velit
    nisi aspernatur deserunt vitae eum reiciendis sunt obcaecati necessitatibus
    ducimus dolorem adipisci veniam? Velit corrupti eligendi omnis earum tenetur
    aut provident debitis eos quis minus blanditiis rem ducimus neque
    exercitationem, dolore soluta animi nihil possimus est magnam alias cum?
    Nostrum nemo quas dicta consequuntur dolorem quibusdam facilis cupiditate
    omnis, fugit ullam explicabo tempore excepturi beatae alias aliquid adipisci
    aspernatur repudiandae unde sed iusto eos ratione. Molestias obcaecati
    doloremque omnis ipsa corporis itaque sunt inventore recusandae labore
    veritatis error quibusdam, delectus ex. Maiores vel, non corrupti nostrum,
    sint fugit impedit corporis inventore illo sapiente beatae perspiciatis.
    Totam nam fugiat voluptates est iusto quasi aut minima provident! Dolore
    quam quibusdam nesciunt ipsum? Iusto asperiores nesciunt ducimus ipsam omnis
    fugit assumenda rem aut animi nam cumque exercitationem, corrupti
    repudiandae incidunt nobis! Quia tenetur rem laudantium ipsam modi?
  </p>
</template>

<script setup lang="ts"></script>

<style scoped></style>
