<template>
  <AddNote />
  <div class="flex flex-col gap-3">
    <div v-for="note in noteStore.notes" :key="note.title">
      <NoteCard :note="note" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { useNoteStore } from "../stores/note";
import NoteCard from "../components/noteCard.vue";
import AddNote from "../components/addNote.vue";
const noteStore = useNoteStore();
</script>

<style scoped>
.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>
